.collection-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .collection-item-container {
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: center center;
    .collection-item-container, img {
      width: 100%;
      height: 50vh;
      display: block;
      object-fit: cover;
    }
  }
  .collection-item-footer {
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
    .footer-item-info {
      font-size: 20px;
    }
  }
}


